@import "../../variantColors.scss";

.modal-succes {
  position: fixed;
  z-index: 801;
  width: 28rem;
  height: 32rem;
  border-radius: 2rem;
  padding: 30px;
  background: $primaryColor;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: slide-in-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;

  h3 {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    margin: 5px;
  }
}

.hideSucces {
  display: none;
}

@media (max-width: 600px) {
  .modal-succes {
    width: 100%;

    h3 {
      font-size: 15px;
    }
  }
}
