@import "../../variantColors.scss";

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 800;
  background: $overlay;
  backdrop-filter: blur(2px);
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.hideSummaryCard {
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.bi-x-circle-fill {
  font-size: 2rem;
  cursor: pointer;
  right: 0;
  margin: 30px;
  top: 0;
  position: absolute;

  &:hover {
    color: $buttonPrimaryHover;
  }
}

.modal {
  position: fixed;
  z-index: 801;
  width: 28rem;
  height: 32rem;
  border-radius: 2rem;
  padding: 30px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .summary-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .empty-basket {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $formError;
  }

  h3 {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
  }

  h4 {
    font-size: 25px;
    margin: 0;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

    li {
      background: $ingresientSummaryPill;
      border-radius: 30px;
      padding: 5px 10px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin: 0;
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 600px) {
  .modal {
    width: 100%;

    h3 {
      font-size: 15px;
    }

    .empty-basket {
      font-size: 12px;
    }
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    transform: translate(-1000px, -50%);
    opacity: 0;
    display: none;
  }
}
