@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

nav {
  height: 5rem;
  display: flex;
  padding: 10px 30px;
  align-items: center;
  background-color: #e1e1e1;

  img {
    height: 100%;
  }

  h1 {
    margin: 0;
    font-family: 'Pacifico', cursive;
  }
}
