@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import '../../variantColors.scss';

nav {
  height: 5rem;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  box-shadow: #64646f33 0 7px 29px 0;
  padding: 10px 30px;
  align-items: center;
  z-index: 999;
  transition: 0.5s all ease-out;
  background-color: $primaryColor;

  img {
    height: 100%;
  }

  h1 {
    margin: 0;
    font-family: 'Pacifico', cursive;
  }
}

.router-box {
  margin-left: 3rem;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    margin-left: 1rem;
    color: $navLinkColor;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 7px;
    background-size: 10rem;
    background-position: center;

    &:hover {
      background-image: url('/public/images/stroke.svg');
    }
  }

  a.router-link-exact-active {
    background-size: 10rem;
    background-position: center;
    background-image: url('/public/images/stroke.svg');
    background-repeat: no-repeat;
  }
}

.logo {
  display: flex;
  height: 100%;
  font-size: 16px;
  align-items: center;
}

//burger
.menu-icon {
  position: relative;
  display: none;
  width: 20px;
  margin-left: 30px;
  height: 40px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, #3b3b3bf7);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    &:first-of-type {
      top: 0;
    }

    &:last-of-type {
      bottom: 0;
    }
  }

  .menu-icon-cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }

  .menu-icon-cheeckbox:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
      }

      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }
  }
}

.burger-menu {
  position: fixed;
  background-color: $primaryColor;
  width: 14rem;
  height: 92vh;
  transition: 0.5s;
  right: 0;
  top: 5rem;
  display: none;
  z-index: 999;

  a {
    text-decoration: none;
    padding: 2px 7px;
    box-shadow: inset 0 0 0 0 #fff;
    height: 3rem;
    background: transparent;
    display: flex;
    color: #000;
    font-size: 1rem;
    margin: 10px 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    i {
      display: none;
    }
  }

  a.router-link-exact-active {
    background-size: 10rem;
    background-position: center;
    background-image: url('/public/images/stroke.svg');
    background-repeat: no-repeat;

    i {
      display: inline;
      left: 15px;
      font-size: 20px;
      position: absolute;
      -webkit-animation: heartbeat 1.5s ease-in-out both;
      animation: heartbeat 1.5s ease-in-out both;
    }
  }
}

.closeBurger {
  right: -14rem;
}

.hidden-navbar {
  top: -5rem;
}

.overlay-burger {
  position: fixed;
  z-index: 997;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: $overlay;
  display: none;
  backdrop-filter: blur(2px);
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.overlayClose {
  -webkit-animation: fade-out 0.3s ease-out both;
  animation: fade-out 0.3s ease-out both;
}

@media (max-width: 600px) {
  .overlay-burger {
    display: flex;
  }

  .logo {
    img {
      height: 2rem;
    }
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
  }

  .router-box {
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  .menu-icon {
    display: inline;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
