$primaryColor: rgb(255, 255, 255);
$secoundaryColor: #6bff81;
$footerBgMedia: white;
$buttonPrimary: white;
$buttonPrimaryHover: #6bff81;
$buttonIngredientMax: #ff7373;
$buttonIngredientBg: #f5f5f5;
$ingresientSummaryPill: #dcf5b9;
$toggleBtnPrimaryBg: #ffffff;
$toggleBtnPrimaryAfter: #000;
$toggleBall: #767676;
$modalBg: #fff;
$overlay: #000000b0;
$formError: red;
$navLinkColor: #000;
$navLinkHover: #6bff81;
$navLinkActive: #6bff81;
